html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  background-image: url("https://images.unsplash.com/photo-1462543407303-196c44faeef6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=864&fit=crop&s=da84122816ee2f0ece1bb35e70ea5cbc");
  background-repeat: no-repeat;
  background-color: #222;
  background-size: cover;
  background-position: center center;
}
.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-align: center;
  
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 1px 1px 1px #666;
}
/* for swipe left/right */
.center {
  left: 25%;
  opacity: 0.9;
  transition: left 1s, opacity 1s;
}
.left {
  left: -35%;
  opacity: 0;
  transition: left 1s, opacity 1s;
}
.right {
  left: 85%;
  opacity: 0;
  
  transition: left 1s, opacity 1s;
}

/* forecast table */
.table-wrapper {
  display: flex;
  justify-content: center;
}
.table-col {
  padding: 15px;
  text-align: center;
  font-size: 0.7em;
}

/* for swiching C/F units */
.temp1 {
  font-size: 2em;
}
.temp2 {
  font-size: 1em;
}
.temp2:hover {
  cursor: pointer;
}
.credit {
  position: absolute;
  bottom: 5px;
  font-size: 1em;
  color: #ddd;
}
.credit.me {
  right: 15px;
  width: 30%;
  text-align: right;
}
.credit.photo {
  left: 15px;
  width: 30%;
}
.credit.weather {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  text-align: center;
}
.credit a, .credit a {
  text-decoration: none;
  color: inherit;
  margin-left: 5px;
}